{{#about}}

<div id="about">
    <p>This petition has no theme.</p>
    <p>You just signed a petition without knowing what it is about.</p>
    <p>Take better care of your data!</p>
    <p>More info:</p>
    <p><a target="_blank" href="https://datadetox.myshadow.org/en/detox">PROTECT YOUR DATA</a></p>


</div>

{{/about}}
